<div class="container member">
	<div class="row ">
		<div class="col-sm-12 col-md-4 col-lg-4" style="margin-top: 30px;">
			<img src="{{imageurl}}" class="image">
		</div>

		<div class="col-sm-12 col-md-8 info">
			<h5>
				<ul>
					<li>
						{{name}}
					</li>
					<li>
						{{email}}
					</li>
					<li>
						{{phone}}
					</li>
				</ul>
				Hobbies:
				<ul>
					{{#each hobbies}}
					<li>
						{{this}}
					</li>
					{{/each}}
				</ul>
			</h5>
		</div>
	</div>
</div>

<style type="text/css">
	@media (min-width: 768px) {
		.info {
			margin-top: 100px;
		}
	}

	.member {
		text-align: center;
		padding-bottom: 100px;
	}

	.info ul {
		list-style: none;
		padding-left: 0;
	}

	.info li {
		text-align: center;
	}

	.image {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: block;
		height: 350px;
	}
</style>